<div class="page-header">
  <%= link_to new_post_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Post
  <% end %>
  <h1>Listing posts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Image</th>
            <th>Description</th>
            <th>Format post</th>
            <th>Hide post</th>
            <th>Ads</th>
            <th>Excerpt</th>
            <th>Category</th>
            <th>User</th>
            <th>Meta title</th>
            <th>Meta description</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @posts) do |post| %>
            <td><%= post.title %></td>
            <td><%= post.image %></td>
            <td><%= post.description %></td>
            <td><%= post.format_post %></td>
            <td><%= post.hide_post %></td>
            <td><%= post.ads %></td>
            <td><%= post.excerpt %></td>
            <td><%= post.category %></td>
            <td><%= post.user %></td>
            <td><%= post.meta_title %></td>
            <td><%= post.meta_description %></td>
            <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
